<div class="alert alert-block alert-success">
     
# IC PCDA CAPSTONE - HARRY BAKHSHI - NOTEBOOK 1 - DATA EXTRACTION AND CLEANING
     
</div>

In [ ]:
#Libraries needed to work:
import numpy as np
import pandas as pd
import torch
import matplotlib.pyplot as plt
import plotly.express as px
import os
import plotly.io as pio
import pandas as pd
from tqdm.autonotebook import tqdm
import missingno as msno
import statsmodels.api as sm
from sklearn.ensemble import RandomForestRegressor
import xgboost
import lightgbm
import catboost
import seaborn
import pmdarima as pm
from darts import TimeSeries
from darts.models import NaiveSeasonal
import pytorch_lightning as pl
import pytorch_forecasting
from pytorch_forecasting import TimeSeriesDataSet
from pytorch_forecasting.data import GroupNormalizer
from pytorch_forecasting.metrics import RMSE, MAE
import sys
print("#"*25+" All Libraries imported without errors! "+"#"*25)
# !pip install kaleido - move kaleido folder from /opt/miniconda3/lib/python3.12/site-packages to /Users/USER/anaconda3/lib/python3.11/site-packages
# !pip install "pandas<2.0.0" - rewrite pickles to .pik files and re-load to use after change
# !pip install statsforecast
# !pip install missingno
# !pip install catboost
# !pip install blosc2==2.0
# !pip install pmdarima
# !pip install darts
# !pip install pytorch_lightning
# !pip install torch torchvision torchaudio
# in mac terminal:
#     sudo chown -R $USER:$USER anaconda3
#     sudo chown -R $USER:$USER /Users/USER/.conda/environments.txt
# conda update conda
# conda install conda-forge::pytorch-forecasting
# in /Users/USER/anaconda3/lib/python3.11/site-packages/pytorch_forecasting/models/__init__.py
# delete import call for DeepAR
# #in /Users/USER/anaconda3/lib/python3.11/site-packages/pytorch_forecasting/__init__.py
# delete DeepAR in import list in "from pytorch_forecasting.models import (..."

In [15]:
import pandas as pd
import numpy as np

MIT License for code used from elsewhere in this notebook unless a different source stated: https://github.com/PacktPublishing/Modern-Time-Series-Forecasting-with-Python?tab=MIT-1-ov-file

(Accessed 06/06/2024)

**Collection of three datasets to consider**
* `Listings`
* `users`
* `contacts`

In [16]:
url = 'https://raw.githubusercontent.com/vkoul/data/main/misc/'
listings = pd.read_csv(url + '/aibnb_listings.csv')
users = pd.read_csv(url + '/airbnb_users.csv')

In [17]:
date_list = ['ts_interaction_first', 'ts_reply_at_first', 'ts_accepted_at_first','ts_booking_at','ds_checkin_first', 'ds_checkout_first']
contacts = pd.read_csv(url + '/airbnb_contacts.csv', parse_dates = date_list)

Explore data:

In [18]:
listings.shape

(13038, 4)

In [19]:
users.shape

(31525, 3)

In [20]:
contacts.shape

(27887, 14)

In [21]:
contacts.head()

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,m_interactions,m_first_message_length_in_characters,contact_channel_first,guest_user_stage_first
0,da8656a1-51af-4f38-b1c4-94be1f585157,5426897d-960d-4013-9e38-606ae746793c,a408a8b2-0d44-4513-a611-3736d0409bb2,2016-04-21 02:55:53,2016-04-21 03:15:00,2016-04-21 03:15:00,2016-04-21 03:15:00,2016-08-02,2016-08-06,4.0,30,31.0,book_it,past_booker
1,8590d6f1-8bc9-4e8b-bdfb-de78f69fcf37,f30417c5-6df4-45ac-bfc2-6ad1cce398ab,e387c705-0aeb-464c-9375-ece63be6f006,2016-02-16 22:14:01,2016-02-16 23:37:36,NaT,NaT,2016-08-11,2016-08-22,5.0,2,312.0,contact_me,past_booker
2,ebcd83ba-bda1-47eb-9680-2dd04ccf3988,13cbf50a-3272-45d4-9866-a06b6ea1b99a,d1eb1960-938f-4305-a353-51e224414dd4,2016-01-27 23:33:38,2016-01-28 02:12:47,NaT,NaT,2016-03-14,2016-03-23,1.0,3,164.0,contact_me,new
3,b0af8848-fe2a-4ef1-991e-26ab3066feb3,01614601-d5a4-4776-ab9b-c10d3b865bf0,855f6779-346c-45fc-a64b-ea133250ca7a,2016-05-05 14:42:52,2016-05-05 15:17:40,2016-05-05 15:17:40,NaT,2016-05-27,2016-05-29,2.0,3,203.0,contact_me,new
4,5ddbbcc3-ac1a-4d8a-b6f8-0f675b76d1b2,f2fed6f3-4c5c-453d-9e64-37c62b8bd06d,f2928a59-c5e7-42b2-9c37-240a40f38dc0,2016-06-23 03:09:25.0,2016-06-23 03:09:26,2016-06-23 03:09:33,2016-06-23 03:09:33,2016-08-19,2016-08-21,3.0,25,0.0,instant_book,past_booker

In [22]:
listings.head()

,id_listing_anon,room_type,listing_neighborhood,total_reviews
0,71582793-e5f8-46d7-afdf-7a31d2341c79,Private room,-unknown-,0.0
1,a1a3f728-e21f-4432-96aa-361d28e2b319,Entire home/apt,Copacabana,0.0
2,353a68be-ecf9-4b7b-9533-c882dc2f0760,Entire home/apt,Barra da Tijuca,3.0
3,b9ae1908-0486-40ac-bbcf-bd63ffebfe63,Entire home/apt,Lapa,4.0
4,fa0290ef-7881-4482-8981-8ebb1ce5dbfd,Entire home/apt,-unknown-,0.0

Common columns: id_listing_anon allows listings to join to contacts, id_user_anon allows users to join to contacts
Therefore, use this to join the datasets:

In [23]:
contacts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27887 entries, 0 to 27886
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         27887 non-null  object
 1   id_host_anon                          27887 non-null  object
 2   id_listing_anon                       27887 non-null  object
 3   ts_interaction_first                  27887 non-null  object
 4   ts_reply_at_first                     25855 non-null  datetime64[ns]
 5   ts_accepted_at_first                  16415 non-null  datetime64[ns]
 6   ts_booking_at                         11587 non-null  datetime64[ns]
 7   ds_checkin_first                      27887 non-null  datetime64[ns]
 8   ds_checkout_first                     27887 non-null  datetime64[ns]
 9   m_guests                              27886 non-null  float64
 10  m_interactions                        27887 non-null  int64
 11  m_first_message_length_in_characters  27887 non-null  float64
 12  contact_channel_first                 27887 non-null  object
 13  guest_user_stage_first                27887 non-null  object
dtypes: datetime64[ns](5), float64(2), int64(1), object(6)
memory usage: 3.0+ MB

In [24]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13038 entries, 0 to 13037
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_listing_anon       13038 non-null  object
 1   room_type             13038 non-null  object
 2   listing_neighborhood  13038 non-null  object
 3   total_reviews         13038 non-null  float64
dtypes: float64(1), object(3)
memory usage: 407.6+ KB

In [25]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31525 entries, 0 to 31524
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_user_anon           31525 non-null  object
 1   country                31524 non-null  object
 2   words_in_user_profile  31525 non-null  int64
dtypes: int64(1), object(2)
memory usage: 739.0+ KB

Are the listings and guest/users common across the dataframes?

In [26]:
count = 0
for listing in range(len(list(contacts['id_listing_anon']))):
    if contacts['id_listing_anon'][listing] in listings['id_listing_anon']:
        count += 1
print('listing_id_overlap: ', count)
count = 0
for user in range(len(list(contacts['id_guest_anon']))):
    if contacts['id_guest_anon'][user] in users['id_user_anon']:
        count += 1
print('user_id_overlap: ', count)

listing_id_overlap:  0
user_id_overlap:  0

No, and guest ids != user ids - therefore add listings to contacts as new data and add users to contacts as new data

In [27]:
#Create space in the contacts df:
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'
df = contacts
columns_to_add = []
for col in range(len(list(users.columns.values))):
    columns_to_add.append(list(users.columns.values)[col])
listings_cols = list(listings.columns.values)[1:]
for col in range(len(listings_cols)):
    columns_to_add.append(listings_cols[col])
print(columns_to_add)
for col in range(len(columns_to_add)):
    df[columns_to_add[col]] = pd.Series(np.nan, index=df.index)
    #^https://stackoverflow.com/questions/12555323/how-to-add-a-new-column-to-an-existing-dataframe",
    #Accessed 04/06/2024",
print(df.info())
new_row_data = []
for i in range(20):
    new_row_data.append(0)
    #^https://www.analyticsvidhya.com/blog/2023/12/supercharge-your-dataframes-mastering-row-appending-in-pandas/#:~:text=The%20append()%20function%20in,for%20beginners%20and%20seasoned%20professionals.&text=While%20this%20method%20is%20simple,multiple%20rows%20in%20a%20loop
    #Accessed 04/06/2024
print(len(new_row_data))
for row in range(len(list(listings['id_listing_anon']))):
    df.loc[row + 27887 + 1] = new_row_data #df currently 27887 rows
print(df.info())
for row in range(len(list(users['id_user_anon']))):
    df.loc[row + 40925 + 1] = new_row_data #df currently 40925 rows
print(df.info())

['id_user_anon', 'country', 'words_in_user_profile', 'room_type', 'listing_neighborhood', 'total_reviews']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27887 entries, 0 to 27886
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         27887 non-null  object
 1   id_host_anon                          27887 non-null  object
 2   id_listing_anon                       27887 non-null  object
 3   ts_interaction_first                  27887 non-null  object
 4   ts_reply_at_first                     25855 non-null  datetime64[ns]
 5   ts_accepted_at_first                  16415 non-null  datetime64[ns]
 6   ts_booking_at                         11587 non-null  datetime64[ns]
 7   ds_checkin_first                      27887 non-null  datetime64[ns]
 8   ds_checkout_first                     27887 non-null  datetime64[ns]
 9   m_guests                              27886 non-null  float64
 10  m_interactions                        27887 non-null  int64
 11  m_first_message_length_in_characters  27887 non-null  float64
 12  contact_channel_first                 27887 non-null  object
 13  guest_user_stage_first                27887 non-null  object
 14  id_user_anon                          0 non-null      float64
 15  country                               0 non-null      float64
 16  words_in_user_profile                 0 non-null      float64
 17  room_type                             0 non-null      float64
 18  listing_neighborhood                  0 non-null      float64
 19  total_reviews                         0 non-null      float64
dtypes: datetime64[ns](5), float64(8), int64(1), object(6)
memory usage: 4.3+ MB
None
20
<class 'pandas.core.frame.DataFrame'>
Index: 40925 entries, 0 to 40925
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         40925 non-null  object
 1   id_host_anon                          40925 non-null  object
 2   id_listing_anon                       40925 non-null  object
 3   ts_interaction_first                  40925 non-null  object
 4   ts_reply_at_first                     38893 non-null  object
 5   ts_accepted_at_first                  29453 non-null  object
 6   ts_booking_at                         24625 non-null  object
 7   ds_checkin_first                      40925 non-null  object
 8   ds_checkout_first                     40925 non-null  object
 9   m_guests                              40924 non-null  float64
 10  m_interactions                        40925 non-null  int64
 11  m_first_message_length_in_characters  40925 non-null  float64
 12  contact_channel_first                 40925 non-null  object
 13  guest_user_stage_first                40925 non-null  object
 14  id_user_anon                          13038 non-null  float64
 15  country                               13038 non-null  float64
 16  words_in_user_profile                 13038 non-null  float64
 17  room_type                             13038 non-null  float64
 18  listing_neighborhood                  13038 non-null  float64
 19  total_reviews                         13038 non-null  float64
dtypes: float64(8), int64(1), object(11)
memory usage: 6.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 72450 entries, 0 to 72450
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         72450 non-null  object
 1   id_host_anon                          72450 non-null  object
 2   id_listing_anon                       72450 non-null  object
 3   ts_interaction_first                  72450 non-null  object
 4   ts_reply_at_first                     70418 non-null  object
 5   ts_accepted_at_first                  60978 non-null  object
 6   ts_booking_at                         56150 non-null  object
 7   ds_checkin_first                      72450 non-null  object
 8   ds_checkout_first                     72450 non-null  object
 9   m_guests                              72449 non-null  float64
 10  m_interactions                        72450 non-null  int64
 11  m_first_message_length_in_characters  72450 non-null  float64
 12  contact_channel_first                 72450 non-null  object
 13  guest_user_stage_first                72450 non-null  object
 14  id_user_anon                          44563 non-null  float64
 15  country                               44563 non-null  float64
 16  words_in_user_profile                 44563 non-null  float64
 17  room_type                             44563 non-null  float64
 18  listing_neighborhood                  44563 non-null  float64
 19  total_reviews                         44563 non-null  float64
dtypes: float64(8), int64(1), object(11)
memory usage: 11.6+ MB
None

Fill in the new data into the contacts df to create one df with all the data:

In [28]:
#Fill in the new data into the contacts df to create one df with all the data:
for col in range(len(list(df.columns.values))):
    if list(df.columns.values)[col] in list(listings.columns.values):
        for row in range(len(list(listings['id_listing_anon']))):
           df[list(df.columns.values)[col]][row + 27887 + 1] = listings[list(df.columns.values)[col]][row]
    else:
        pass
for col in range(len(list(df.columns.values))):
    if list(df.columns.values)[col] in list(users.columns.values):
        for row in range(len(list(users['id_user_anon']))):
            df[list(df.columns.values)[col]][row + 40925 + 1] = users[list(df.columns.values)[col]][row]
    else:
        pass

/var/folders/xn/_bz_k2_x60v2l_s_sch6rwp40000gn/T/ipykernel_13178/3257953819.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Private room' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[list(df.columns.values)[col]][row + 27887 + 1] = listings[list(df.columns.values)[col]][row]
/var/folders/xn/_bz_k2_x60v2l_s_sch6rwp40000gn/T/ipykernel_13178/3257953819.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-unknown-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[list(df.columns.values)[col]][row + 27887 + 1] = listings[list(df.columns.values)[col]][row]
/var/folders/xn/_bz_k2_x60v2l_s_sch6rwp40000gn/T/ipykernel_13178/3257953819.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1d16a001-31a2-494c-a101-1f7b308adc62' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[list(df.columns.values)[col]][row + 40925 + 1] = users[list(df.columns.values)[col]][row]
/var/folders/xn/_bz_k2_x60v2l_s_sch6rwp40000gn/T/ipykernel_13178/3257953819.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'FR' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[list(df.columns.values)[col]][row + 40925 + 1] = users[list(df.columns.values)[col]][row]

In [29]:
print(df.loc[27891])
print(df.info())

id_guest_anon                                                              0
id_host_anon                                                               0
id_listing_anon                         b9ae1908-0486-40ac-bbcf-bd63ffebfe63
ts_interaction_first                                                       0
ts_reply_at_first                                                          0
ts_accepted_at_first                                                       0
ts_booking_at                                                              0
ds_checkin_first                                                           0
ds_checkout_first                                                          0
m_guests                                                                 0.0
m_interactions                                                             0
m_first_message_length_in_characters                                     0.0
contact_channel_first                                                      0
guest_user_stage_first                                                     0
id_user_anon                                                             0.0
country                                                                  0.0
words_in_user_profile                                                    0.0
room_type                                                    Entire home/apt
listing_neighborhood                                                    Lapa
total_reviews                                                            4.0
Name: 27891, dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 72450 entries, 0 to 72450
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         72450 non-null  object
 1   id_host_anon                          72450 non-null  object
 2   id_listing_anon                       72450 non-null  object
 3   ts_interaction_first                  72450 non-null  object
 4   ts_reply_at_first                     70418 non-null  object
 5   ts_accepted_at_first                  60978 non-null  object
 6   ts_booking_at                         56150 non-null  object
 7   ds_checkin_first                      72450 non-null  object
 8   ds_checkout_first                     72450 non-null  object
 9   m_guests                              72449 non-null  float64
 10  m_interactions                        72450 non-null  int64
 11  m_first_message_length_in_characters  72450 non-null  float64
 12  contact_channel_first                 72450 non-null  object
 13  guest_user_stage_first                72450 non-null  object
 14  id_user_anon                          44563 non-null  object
 15  country                               44562 non-null  object
 16  words_in_user_profile                 44563 non-null  float64
 17  room_type                             44563 non-null  object
 18  listing_neighborhood                  44563 non-null  object
 19  total_reviews                         44563 non-null  float64
dtypes: float64(4), int64(1), object(15)
memory usage: 13.6+ MB
None

Pickle:

In [34]:
#Pickle:
import pickle
file = '/Users/harrybakhshi/Desktop/Python_notes/data/PCDA_capstone/Airbnb_data_not_cleaned.pik'
with open(file, 'wb') as f:
    pickle.dump(df, f) #write df to .pik file on disk
# with open(file, 'rb') as f:
#      df = pickle.load(f) #load pickle file 'file' into variable

Fill nan's that were created by combining columns:

In [35]:
#Fill nan's that were created by combining columns:
listings_cols = list(listings.columns.values)[1:]
print(listings_cols)
# print(df.loc[27886])
# print(df.loc[27888])
for col in range(len(list(df.columns.values))):
    if list(df.columns.values)[col] in listings_cols:
        for row in range(27887):
            df[list(df.columns.values)[col]][row] = 0
# print(df.loc[27886])
# print(df.loc[27888])
    if list(df.columns.values)[col] in list(users.columns.values):
        for row in range(40925):
            df[list(df.columns.values)[col]][row] = 0
# print(df.loc[27886])
# print(df.loc[27888])
# print(df.loc[27891])

['room_type', 'listing_neighborhood', 'total_reviews']

Remove null rows in cols 4, 5, 6, 9, 15:

In [36]:
#Remove null rows in cols 4, 5, 6, 9, 15:
df2 = df.copy()
col_indices = [4, 5, 6, 9, 15]
for col in range(len(col_indices)):
    for i in df2.index:
        val = df2.loc[i, df.columns.values[col_indices[col]]]
        if pd.isnull(val):
            df2.drop(i, inplace = True)
print(df2.info()) #see results on dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 56149 entries, 0 to 72450
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         56149 non-null  object
 1   id_host_anon                          56149 non-null  object
 2   id_listing_anon                       56149 non-null  object
 3   ts_interaction_first                  56149 non-null  object
 4   ts_reply_at_first                     56149 non-null  object
 5   ts_accepted_at_first                  56149 non-null  object
 6   ts_booking_at                         56149 non-null  object
 7   ds_checkin_first                      56149 non-null  object
 8   ds_checkout_first                     56149 non-null  object
 9   m_guests                              56149 non-null  float64
 10  m_interactions                        56149 non-null  int64
 11  m_first_message_length_in_characters  56149 non-null  float64
 12  contact_channel_first                 56149 non-null  object
 13  guest_user_stage_first                56149 non-null  object
 14  id_user_anon                          56149 non-null  object
 15  country                               56149 non-null  object
 16  words_in_user_profile                 56149 non-null  float64
 17  room_type                             56149 non-null  object
 18  listing_neighborhood                  56149 non-null  object
 19  total_reviews                         56149 non-null  float64
dtypes: float64(4), int64(1), object(15)
memory usage: 11.0+ MB
None

In [37]:
df = df2

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56149 entries, 0 to 72450
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         56149 non-null  object
 1   id_host_anon                          56149 non-null  object
 2   id_listing_anon                       56149 non-null  object
 3   ts_interaction_first                  56149 non-null  object
 4   ts_reply_at_first                     56149 non-null  object
 5   ts_accepted_at_first                  56149 non-null  object
 6   ts_booking_at                         56149 non-null  object
 7   ds_checkin_first                      56149 non-null  object
 8   ds_checkout_first                     56149 non-null  object
 9   m_guests                              56149 non-null  float64
 10  m_interactions                        56149 non-null  int64
 11  m_first_message_length_in_characters  56149 non-null  float64
 12  contact_channel_first                 56149 non-null  object
 13  guest_user_stage_first                56149 non-null  object
 14  id_user_anon                          56149 non-null  object
 15  country                               56149 non-null  object
 16  words_in_user_profile                 56149 non-null  float64
 17  room_type                             56149 non-null  object
 18  listing_neighborhood                  56149 non-null  object
 19  total_reviews                         56149 non-null  float64
dtypes: float64(4), int64(1), object(15)
memory usage: 11.0+ MB

In [39]:
# df[df.columns.values[18]].head(20)

Data attributes:
    
    id_guest_anon = guest id  
    id_host_anon = host id                 
    id_listing_anon = listing id             
    ts_interaction_first = first guest interaction with listing            
    ts_reply_at_first = first reply to guest inquiry                  
    ts_accepted_at_first = first acceptance of guest booking             
    ts_booking_at = when booked                
    ds_checkin_first = when first guest checked in                 
    ds_checkout_first = when first guest to check out checked out       
    m_guests = no. of guests booked                    
    m_interactions = no of interactions with the listing before host accepts actual guest booking                      
    m_first_message_length_in_characters = length of first message between guest and host in characters     
    contact_channel_first = channel by which host first contacted by guest          
    guest_user_stage_first = first type of guest making booking    
    id_user_anon = user id                  
    country = country of user                         
    words_in_user_profile = words in user profile           
    room_type = type of room of listing                         
    listing_neighborhood = neighbourhood in which listing can be found             
    total_reviews = no. of listing reviews

Find unique value count for categorical values:    
Cols 0-2, 12-15, 17, 18 are categorical:

In [40]:
#Find unique value count for categorical values:
#Cols 0-2, 12-15, 17, 18 are categorical:
col_indices = [0, 1, 2, 12, 13, 14, 15, 17, 18]
lists_unique_entries = []
for col in range(len(col_indices)):
    df_col = df[df.columns.values[col_indices[col]]]
    type_list = []
    for i in df_col.index:
        entry = df_col[i]
        try:
            found_type = str(entry)
            type_list.append(entry)
        except:
            pass
    # #How many elements?
    # print('Elem after:' + ' ' + str(len(type_list)))
    # print('')
    #Find unique members of the list:
    found_list = []
    unique_in_type_list = []
    entry = []
    type_list_length = len(type_list)
    for i in range(type_list_length):
        entry = type_list[i]
        if entry not in found_list:
            unique_in_type_list.append(entry)
            found_list.append(entry)
    lists_unique_entries.append(unique_in_type_list)

All categorical variables nominal (lists_unique_entries[0] - lists_unique_entries[2] and lists_unique_entries[5]have huge no. of different nominal values):

In [41]:
#All categorical variables nominal (lists_unique_entries[0] - lists_unique_entries[2] and lists_unique_entries[5]
#have huge no. of different nominal values):
print(lists_unique_entries[3])
print(lists_unique_entries[4])
print(lists_unique_entries[6])
print(lists_unique_entries[7])
print(lists_unique_entries[8])

['book_it', 'instant_book', 'contact_me', 0]
['past_booker', 'new', '-unknown-', 0]
[0, 'FR', 'AR', 'BR', 'US', 'CA', 'GB', 'AE', 'DE', 'BE', 'AT', 'NO', 'UY', 'PY', 'FI', 'ZA', 'CH', 'CL', 'NL', 'AU', 'CO', 'MX', 'SE', 'ES', 'IE', 'IT', 'CR', 'PE', 'DK', 'JP', 'SI', 'EG', 'PA', 'GR', 'RU', 'HK', 'PT', 'TR', 'NZ', 'BY', 'RO', 'CN', 'IL', 'TW', 'SG', 'PL', 'BO', 'PH', 'GF', 'IN', 'MA', 'CZ', 'BZ', 'ME', 'MY', 'GP', 'LT', 'EC', 'VN', 'HU', 'CD', 'VI', 'VE', 'SK', 'NP', 'EE', 'QA', 'SA', 'KR', 'DO', 'HN', 'MC', 'JE', 'BM', 'MT', 'MU', 'IQ', 'LV', 'RS', 'GT', 'HR', 'KY', 'SV', 'UA', 'LB', 'BS', 'BG', 'IS', 'PR', 'UG', 'TT', 'SR', 'BA', 'LU', 'TH', 'GH', 'RE', 'PK', 'PF', 'AW', 'JO', 'LK', 'KE', 'BD', 'MK', 'BB', 'ID', 'AO', 'CY', 'NG', 'MZ', 'FJ', 'OM', 'GU', 'LY', 'MN', 'SM', 'NC', 'AZ', 'JM', 'KW', 'GE']
[0, 'Private room', 'Entire home/apt', 'Shared room']
[0, '-unknown-', 'Copacabana', 'Barra da Tijuca', 'Lapa', 'Ipanema', 'Botafogo', 'Recreio dos Bandeirantes', 'Leblon', 'São Conrado', 'Praça da Bandeira', 'Humaitá', 'Tijuca', 'Lagoa', 'Catete', 'Rio Comprido', 'Santa Teresa', 'Flamengo', 'Glória', 'Gávea', 'Leme', 'Vidigal', 'Santo Cristo', 'Laranjeiras', 'Maracanã', 'Jardim Botânico', 'Méier', 'Riachuelo', 'Cidade Nova', 'Urca', 'Abolição', 'Irajá', 'Coelho Neto', 'Vila Isabel', 'Centro', 'São Cristóvão', 'Catumbi', 'Penha', 'Joá', 'Cosme Velho', 'Engenho Novo', 'Engenho de Dentro', 'Vigário Geral', 'Bonsucesso', 'Estacio', 'Benfica', 'Guadalupe', 'Barros Filho', 'Del Castilho', 'Vila da Penha', 'Grajaú', 'Brás de Pina', 'Todos os Santos', 'Madureira', 'Andaraí', 'Penha Circular', 'Olaria', 'Sampaio', 'Rocha', 'Engenho da Rainha', 'Marechal Hermes', 'Gamboa', 'Encantado', 'Ramos', 'Saúde', 'Vaz Lobo', 'Rocinha', 'Quintino Bocaiúva', 'Parada de Lucas']

Pickle:

In [44]:
#Pickle:
file = '/Users/harrybakhshi/Desktop/Python_notes/data/PCDA_capstone/Airbnb_data_clean_not_transformed.pik'
with open(file, 'wb') as f:
    pickle.dump(df, f) #write df to .pik file on disk
# with open(file, 'rb') as f:
#      df = pickle.load(f) #load pickle file 'file' into variable

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56149 entries, 0 to 72450
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_guest_anon                         56149 non-null  object
 1   id_host_anon                          56149 non-null  object
 2   id_listing_anon                       56149 non-null  object
 3   ts_interaction_first                  56149 non-null  object
 4   ts_reply_at_first                     56149 non-null  object
 5   ts_accepted_at_first                  56149 non-null  object
 6   ts_booking_at                         56149 non-null  object
 7   ds_checkin_first                      56149 non-null  object
 8   ds_checkout_first                     56149 non-null  object
 9   m_guests                              56149 non-null  float64
 10  m_interactions                        56149 non-null  int64
 11  m_first_message_length_in_characters  56149 non-null  float64
 12  contact_channel_first                 56149 non-null  object
 13  guest_user_stage_first                56149 non-null  object
 14  id_user_anon                          56149 non-null  object
 15  country                               56149 non-null  object
 16  words_in_user_profile                 56149 non-null  float64
 17  room_type                             56149 non-null  object
 18  listing_neighborhood                  56149 non-null  object
 19  total_reviews                         56149 non-null  float64
dtypes: float64(4), int64(1), object(15)
memory usage: 11.0+ MB

Plan:   
Do multivariate time series with variables:
    
    timestamp:
    ts_interaction_first = first guest interaction with listing
    
    Variables:
    m_guests = no. of guests booked              
    m_interactions = no of interactions with the listing before host accepts actual guest booking        
    m_first_message_length_in_characters = length of first message between guest and host in characters  
  
    Forecast the no. of guests that will book, no of interactions with the listing before host accepts actual
    guest booking , length of first message between guest and host in characters for a given timestamp where
    the time is the time of the first first guest interaction with the listing
    
    Able to work out at a specific time of interest, at which guests first find a listing they
    go on to book, how many guests do they go on to book, how much interaction as interest is there with the listing
    before their booking is accepted, and what is the [successful] length of first message between the
    successful booking guest and the host?
    
    Useful for knowing guest party sizes for listings at future times (what stay scenarios are selling), interest at 
    future times (interactions) leading to sales of stays, what a successful guest-host interaction will look like
    in the future (could adjust software and policies accordingly)

Drop cols not needed:

In [46]:
#Drop cols not needed:
col_indices = [0, 1, 2, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 19]
df2 = df.copy()
df2.index = np.arange(0, len(df2))
for col in range(len(col_indices)):
    df2 = df2.drop(df.columns.values[col_indices[col]], axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56149 entries, 0 to 56148
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ts_interaction_first                  56149 non-null  object
 1   m_guests                              56149 non-null  float64
 2   m_interactions                        56149 non-null  int64
 3   m_first_message_length_in_characters  56149 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB

Pickle multivariate timeseries:

In [47]:
#Pickle multivariate timeseries:
file = '/Users/harrybakhshi/Desktop/Python_notes/data/PCDA_capstone/Airbnb_data_ts.pik'
with open(file, 'wb') as f:
    pickle.dump(df2, f) #write df to .pik file on disk
# with open(file, 'rb') as f:
#      df = pickle.load(f) #load pickle file 'file' into variable

In [48]:
# ensure timestamps in datetime64[ns] format
# col_indices = [3, 4, 5, 6]
# for col in range(len(col_indices)):\n",
# df[df.columns.values[col_indices[col]]] = pd.to_datetime(df[df.columns.values[col_indices[col]]])